<!doctype html>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<title>{% block title %}{% endblock %} - PIC16B HW 3</title>

<nav>
  <h1>Share your thoughts!</h1>
  <!-- <b>Navigation:</b> -->
  <div class = "sidenav">
    <ul>
        <li><a href="{{ url_for('base') }}">Home Page</a></li>
        <li><a href="{{ url_for('submit') }}">Submit Your Thoughts Here</a></li>
        <li><a href="{{ url_for('view') }}">View Thoughts</a></li>
    </ul>
  </div>
</nav>

<section class="content">
    <header>
      {% block header %}{% endblock %}
    </header>
    {% block content %}{% endblock %}
  </section>